<h3 style = "text-align: center;">Create your reports here!</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3 style = "text-align: center;">Choose the time frame : </h3>
        </div>
        <div class="col-xs-6">
            <div class="card flex justify-content-center">
                <p-treeSelect [(ngModel)]="selectedNodes" [options]="nodes" placeholder="Select Item" (ngModelChange) = "handle($event)"></p-treeSelect>
            </div>
        </div>
        
    </div>
    <hr>

    <h3 style = "text-align: center;">Select Category For Reporting : </h3>
    
</div>