<!-- <nav class = "navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
                <img src = "../../assets/kidys logo-17.png" class = "navbar-brand">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive = "active"><a routerLink = "/categories">Categories</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li *ngIf = "loggedIn"><a routerLink = "/" (click) = "onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="navbar">
    
    <a for="navbar-toggle" class="navbar-icon" (click) = "toggleDrawer()">&#9776;</a>

    <div class="navbar-header">
        <img src = "../../assets/kidys logo-17.png" class = "navbar-brand">
    </div>


    <h4 style = "color:white;" class = "pangolin">Welcome to Kidy's Bakery Admin Portal</h4>
    <nav class="navbar-menu">
      <ul class = "navbar-right">
        <li *ngIf = "loggedIn"><a routerLink = "/" (click) = "onLogout()">Logout</a></li>
      </ul>
    </nav>
  </div>

  <p-sidebar [(visible)]="openDrawer" styleClass="p-sidebar-mask" (onHide) = "openDrawer = false;">
    <ng-template pTemplate="header">
        <img src = "../../assets/kidys logo-17.png" class = "img img-responsive">
    </ng-template>
    <hr>
    <ng-template pTemplate="content">
        <h4 class = "pangolin">CATEGORIES</h4>
        <hr>
        <h4 class = "pangolin">ORDERS</h4>
        <hr>
        <h4 class = "pangolin">MANAGE</h4>
        <hr>
        <h4 class = "pangolin">REPORTING</h4>
    </ng-template>
</p-sidebar>