<div class="container">
    <h3>Please pay maintenance charges here.</h3>
    <hr>
    <ul>
        <li>Scan the QR Code</li>
        <li>Send payment screenshot to us on whatsapp : 9087003776</li>
        <li>The Skip For Now button goes away on last date of every month , so please try to complete payment before last day.</li>
        <li>Avoid last date payments for every month , because then you'll not be able to skip.</li>
        <li>App once down on last day of month , can take up to 6-8 hours to come back.</li>
    </ul>
    <hr>
    <div class="row">
        <div class="col-xs-10">
            <img src="../../assets/kidys-QR.jpeg" alt="Brand Logo" class="brand-image">
        </div>
        <div class="col-xs-2">
            <button class = "btn btn-lg btn-danger" *ngIf = "showButton" (click) = "skipMaintenance()">Skip for now.</button>
        </div>    
    </div>
    
</div>