<div class="card bottom-spaced-box">
    <!-- <a (click) = "openCategoryScreen($event)" style = "cursor: pointer;"> -->
    <img src = {{category.imgUrl}} class = "card-img-top img img-responsive">
    <!-- </a> -->
    <div class="card-body">
        <h5 class="card-title center-text">
            {{getCategoryName()}}
        </h5>
        <br>
        <div class="row flex">
            <div class = "col col-xs-4">
                <button class = "btn btn-success" (click) = "onAddItem()">Add item</button>
            </div>
        </div>
    </div>
</div>