<div class = "loader" *ngIf = "isLoading"></div>
<div class="container" *ngIf = "!isLoading">
    <h3 class = "inline-heading">Price Lists And Discounts</h3>
        <p>Edit your discounts here!</p>
    <hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style ="height:50px;" *ngFor = "let pl of priceListsData; let i = index;">{{pl.priceList | uppercase}} , <strong>Discount : </strong> Rs.{{pl.discount}} on {{pl.discountQuantity}} ITEMS 
            <button class = "btn choc-button" style = "float:right;" (click) = "editPriceList(i)">EDIT</button>
        </li>
      </ul>
</div>

<p-dialog header="{{selectedPriceList}}" [(visible)]="editDiscountVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <h3>
        Bulk Quantity : <input type = "number" [(ngModel)] = "bulkQuantity">
    </h3>
    <h3>
        Discount (Rs.) : <input type = "number" [(ngModel)] = "discountValue">
    </h3>

    <button style = "float: right;" class = "btn choc-button" (click) = "editDiscount()">Update</button>

</p-dialog>
