<!-- app.component.html -->
<div class="container" *ngIf = "!isLoading">
    <h1>Add items here!</h1>
    <h5>for : {{parentCategoryData.categoryName}}</h5>
  
    <form [formGroup]="addItemForm" (ngSubmit) = "onSubmit(addItemForm.value)">
     
   <div class="form-group">
    <label for="photo">Photo Upload</label>
    <div class="file-input-container">
      <input type="file" id="photo" class="file-input" (change)="onFileChange($event)" accept="image/*">
      <label class="file-input-label button-blue" for="photo" style = "font-size: 15px;">Choose a file</label>
    </div>
    <div class="photo-preview" *ngIf="photoPreview">
      <img [src]="photoPreview" alt="Photo Preview">
    </div>
  </div>
      <div class="form-group">
        <label for="name">ITEM NAME</label>
        <input type="text" id="name" formControlName="itemName" class = "form-control">
      </div>
      
      <div>
          <p style = "text-align: center; font-size: 12px; font-weight: bold; color: red;">Please include GST as applicable in the prices!</p>
      </div>
      <div class="form-group">
        <label for="delhi_ncr_price">DELHI-NCR-PRICE</label>
        <input type="number" id="delhi_ncr_price" formControlName="delhi_ncr_price" class = "form-control">
      </div>
  
      <div class="form-group">
        <label for="height">OUT-STATION-PRICE</label>
        <input type="number" id="out_station_price" formControlName="out_station_price" class = "form-control">
      </div>
  
      <div class="form-group">
        <label for="weight">WESTERN-PRICE</label>
        <input type="number" id="western_price" formControlName="western_price" class = "form-control">
      </div>
  
      <div class="form-group">
        <label for="salary">SUPER-STOCKIST-PRICE</label>
        <input type="number" id="super_stockist_price" formControlName="super_stockist_price" class = "form-control">
      </div>
  
      <div class="form-group">
        <label for="rating">MODERN-TRADE-PRICE</label>
        <input type="number" id="modern_trade_price" formControlName="modern_trade_price" class = "form-control">
      </div>
  
      <button type="submit" class = "btn choc-button">Submit</button>
    </form>
  </div>

  <div class="loader center" *ngIf = "isLoading"></div>
  