<h3 style = "text-align: center;">ORDER DETAIL</h3>
<p style = "color:green; font-weight: bold;">Accepted By : {{order.acceptedBy}}</p>

<hr>

<p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>S.No.</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Dispatched Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.Sno }}</td>
            <td>{{ item.item }}</td>
            <td>{{ item.orderedQuantity }}</td>
            <td>{{ item.dispatchedQuantity }}</td>
        </tr>
    </ng-template>
</p-table>
