<div class="card bottom-spaced-box">
    <img src = {{item.imgUrl}} class = "card-img-top img img-responsive">
    <div class="card-body">
                <div>
                    <h5 class="card-title center-text pangolin">
                        {{item.itemName | uppercase}}
                    </h5>
                    <br>
                    <div style = "font-weight: bolder; margin: 10px; display: flex; flex-direction: column;" class = "pangolin;">
                        <p>DELHI-NCR-PRICE : Rs.{{item.delhi_ncr_price}}</p>
                        <p>OUT-STATION-PRICE : Rs.{{item.out_station_price}}</p>
                        <p>WESTERN-PRICE : Rs. {{item.western_price}}</p>
                        <p>SUPER-STOCKIST-PRICE : Rs. {{item.super_stockist_price}}</p>    
                        <p>MODERN-TRADE-PRICE : Rs. {{item.modern_trade_price}}</p>
                    </div>
                        
                </div>
                <button class = "btn choc-button" style = "position: absolute; top:90%; left:70%;">Edit/Delete</button>
    </div>
</div>